@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* HEADER STYLE */
.head {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

.img-logo {
  margin-right: 2rem;
  height: 8rem;
}

/* ///// FOOTER STYLE ///// */
.foot {
  position: relative;
  top: 24.6rem;
  background-color: indianred;
  color: aliceblue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* APP STYLE */
.App {
  text-align: center;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 25px;
}

#no-argo {
  margin-top: 50px;
}

.crew {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.crew-members {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-inline: 5px;
  width: 30%;
  background-color: antiquewhite;
  color: indianred;
}

/* FORM STYLE */
.form-container {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin-top: 1rem;
}

#name {
  width: 10rem;
  border-radius: 5px;
  border: 1px solid black;
  caret-color: red;
  box-shadow: 10px 5px 5px indianred;
}

#name:hover {
  transition: all 0.1s;
  border-color:  indianred;
}

#btn {
  margin-left: 1rem;
  border-radius: 5px;
  background-color: beige;
  border: 0.5px solid black;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 10px 5px 5px indianred;
}

#btn:hover {
  cursor: pointer;
  background-color: indianred;
  transition:all 0.45s;
  color: beige;
}

@media screen and (max-width: 600px) {
  .foot {
    position: relative;
    top: 28.6rem;
  }

  .form-container {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}